# **Level 3**
## **Task 1: Predictive Modeling**

### **3.1.2 Split the dataset into training and testing sets and evaluate the model's performance using appropriate metrics.**
### **3.1.3 Experiment with different algorithms (e.g.linear regression, decision trees, random forest) and compare their performance.**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv(r"cleaned_dataset.csv")
data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,stanbul,"Kemanke Karamustafa Paa Mahallesi, R۱ht۱m Cadd...",Karak_y,"Karak_y, stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz Aac۱,208,stanbul,"Kouyolu Mahallesi, Muhittin st_nda Caddesi, No...",Kouyolu,"Kouyolu, stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,stanbul,"Kuru_eme Mahallesi, Muallim Naci Caddesi, No 5...",Kuru_eme,"Kuru_eme, stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Ak Kahve,208,stanbul,"Kuru_eme Mahallesi, Muallim Naci Caddesi, No 6...",Kuru_eme,"Kuru_eme, stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,stanbul,"Cafeaa Mahallesi, Bademalt۱ Sokak, No 21/B, Ka...",Moda,"Moda, stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [3]:
data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [4]:
import warnings
warnings.filterwarnings('ignore')
for i in data:
    if data[i].dtypes=='object':
        mode=data[i].mode()[0]
        data[i].fillna(mode,inplace=True)
    else:
        mean=round((data[i].mean()),3)
        data[i].fillna(mean,inplace=True)
data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

### Removing Unique,ID,unwanted  columns:

In [5]:
for i in data:
    print(f'{i}-{len(data[i].unique())}')

Restaurant ID-9551
Restaurant Name-7446
Country Code-15
City-141
Address-8918
Locality-1208
Locality Verbose-1265
Longitude-8120
Latitude-8677
Cuisines-1825
Average Cost for two-140
Currency-12
Has Table booking-2
Has Online delivery-2
Is delivering now-2
Switch to order menu-1
Price range-4
Aggregate rating-33
Rating color-6
Rating text-6
Votes-1012

- **Restaurant ID**can be remove because it is an ID column
- **Resturant Name** can be remove because it is mostly a unique column
- **Address** column can be removed because of too large address ,we can use city instead 
- **Longitude,Latitude**  column can be removed because of  large numerical values,  we can use city instead
- **Locality,Locality Verbose** columns can be removed ,we can use city instead
- **Switch to order menu**` can be removed because it has only one unique value Throughout the dataset

In [6]:
data=data.drop(['Restaurant ID','Restaurant Name','Address','Longitude','Latitude','Switch to order menu','Locality','Locality Verbose'],axis=1)
data

,Country Code,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
0,162,Makati City,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Dark Green,Excellent,314
1,162,Makati City,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Dark Green,Excellent,591
2,162,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,Green,Very Good,270
3,162,Mandaluyong City,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Dark Green,Excellent,365
4,162,Mandaluyong City,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,stanbul,Turkish,80,Turkish Lira(TL),No,No,No,3,4.1,Green,Very Good,788
9547,208,stanbul,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,3,4.2,Green,Very Good,1034
9548,208,stanbul,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,4,3.7,Yellow,Good,661
9549,208,stanbul,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,4,4.0,Green,Very Good,901
9550,208,stanbul,Cafe,55,Turkish Lira(TL),No,No,No,2,4.0,Green,Very Good,591

### **3.1.1 Build a regression model to predict the aggregate rating of a restaurant based on available features.**

### Splitting data in Input ,output columns

In [7]:
X=data.drop('Aggregate rating',axis=1)
y=data['Aggregate rating']
X ## Input columns

,Country Code,City,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Rating color,Rating text,Votes
0,162,Makati City,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,Dark Green,Excellent,314
1,162,Makati City,Japanese,1200,Botswana Pula(P),Yes,No,No,3,Dark Green,Excellent,591
2,162,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,Green,Very Good,270
3,162,Mandaluyong City,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,Dark Green,Excellent,365
4,162,Mandaluyong City,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,stanbul,Turkish,80,Turkish Lira(TL),No,No,No,3,Green,Very Good,788
9547,208,stanbul,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,3,Green,Very Good,1034
9548,208,stanbul,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,4,Yellow,Good,661
9549,208,stanbul,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,4,Green,Very Good,901
9550,208,stanbul,Cafe,55,Turkish Lira(TL),No,No,No,2,Green,Very Good,591

In [8]:
y #out put columns

0       4.8
1       4.5
2       4.4
3       4.9
4       4.8
       ...
9546    4.1
9547    4.2
9548    3.7
9549    4.0
9550    4.0
Name: Aggregate rating, Length: 9551, dtype: float64

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9551 non-null   int64
 1   City                  9551 non-null   object
 2   Cuisines              9551 non-null   object
 3   Average Cost for two  9551 non-null   int64
 4   Currency              9551 non-null   object
 5   Has Table booking     9551 non-null   object
 6   Has Online delivery   9551 non-null   object
 7   Is delivering now     9551 non-null   object
 8   Price range           9551 non-null   int64
 9   Rating color          9551 non-null   object
 10  Rating text           9551 non-null   object
 11  Votes                 9551 non-null   int64
dtypes: int64(4), object(8)
memory usage: 895.5+ KB

In [10]:
X['Country Code']=X['Country Code'].astype('object')
X['Price range']=X['Price range'].astype('object')
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Code          9551 non-null   object
 1   City                  9551 non-null   object
 2   Cuisines              9551 non-null   object
 3   Average Cost for two  9551 non-null   int64
 4   Currency              9551 non-null   object
 5   Has Table booking     9551 non-null   object
 6   Has Online delivery   9551 non-null   object
 7   Is delivering now     9551 non-null   object
 8   Price range           9551 non-null   object
 9   Rating color          9551 non-null   object
 10  Rating text           9551 non-null   object
 11  Votes                 9551 non-null   int64
dtypes: int64(2), object(10)
memory usage: 895.5+ KB

In [11]:
cat=X.select_dtypes(include='object').columns
cat

Index(['Country Code', 'City', 'Cuisines', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Price range',
       'Rating color', 'Rating text'],
      dtype='object')

### Encoding Input Categorical columns
- Applying Normal encoding for all categorical columns except 'Cuisines'
- Applying **MultiLabelBinarizer** for **'Cuisines'** column because 'Cuisines' columns consist of multiple v

In [12]:
from sklearn.preprocessing import MultiLabelBinarizer
enc=list(cat)

# Step 1: Multi-Label Encoding for "Cuisines"
X['Cuisines'] = X['Cuisines'].str.split(', ')  # Convert string to list
mlb = MultiLabelBinarizer()
cuisine_encoded = pd.DataFrame(mlb.fit_transform(X['Cuisines']), columns=mlb.classes_)
X = X.drop('Cuisines', axis=1).join(cuisine_encoded)  # Merge encoded cuisines
enc.remove( 'Cuisines')


# Step 2: Encoding Other Categorical Columns
for i in enc:
    d={}
    k=0
    unique=X[i].unique()
    if 'Yes' in unique or 'No' in unique:
        d['Yes']=1
        d['No']=0
    elif i=='Price range':
        continue
    else:
        for j in unique:
            d[j]=k
            k+=1
    X[i]=X[i].map(d)
    print(d)

X

{162: 0, 30: 1, 216: 2, 14: 3, 37: 4, 184: 5, 214: 6, 1: 7, 94: 8, 148: 9, 215: 10, 166: 11, 189: 12, 191: 13, 208: 14}
{'Makati City': 0, 'Mandaluyong City': 1, 'Pasay City': 2, 'Pasig City': 3, 'Quezon City': 4, 'San Juan City': 5, 'Santa Rosa': 6, 'Tagaytay City': 7, 'Taguig City': 8, 'Bras_lia': 9, 'Rio de Janeiro': 10, 'So Paulo': 11, 'Albany': 12, 'Armidale': 13, 'Athens': 14, 'Augusta': 15, 'Balingup': 16, 'Beechworth': 17, 'Boise': 18, 'Cedar Rapids/Iowa City': 19, 'Chatham-Kent': 20, 'Clatskanie': 21, 'Cochrane': 22, 'Columbus': 23, 'Consort': 24, 'Dalton': 25, 'Davenport': 26, 'Des Moines': 27, 'Dicky Beach': 28, 'Dubuque': 29, 'East Ballina': 30, 'Fernley': 31, 'Flaxton': 32, 'Forrest': 33, 'Gainesville': 34, 'Hepburn Springs': 35, 'Huskisson': 36, 'Inverloch': 37, 'Lakes Entrance': 38, 'Lakeview': 39, 'Lincoln': 40, 'Lorn': 41, 'Macedon': 42, 'Macon': 43, 'Mayfield': 44, 'Mc Millan': 45, 'Middleton Beach': 46, 'Miller': 47, 'Monroe': 48, 'Montville': 49, 'Ojo Caliente': 50, 'Orlando': 51, 'Palm Cove': 52, 'Paynesville': 53, 'Penola': 54, 'Pensacola': 55, 'Phillip Island': 56, 'Pocatello': 57, 'Potrero': 58, 'Princeton': 59, 'Rest of Hawaii': 60, 'Savannah': 61, 'Singapore': 62, 'Sioux City': 63, 'Tampa Bay': 64, 'Tanunda': 65, 'Trentham East': 66, 'Valdosta': 67, 'Vernonia': 68, 'Victor Harbor': 69, 'Vineland Station': 70, 'Waterloo': 71, 'Weirton': 72, 'Winchester Bay': 73, 'Yorkton': 74, 'Abu Dhabi': 75, 'Dubai': 76, 'Sharjah': 77, 'Agra': 78, 'Ahmedabad': 79, 'Allahabad': 80, 'Amritsar': 81, 'Aurangabad': 82, 'Bangalore': 83, 'Bhopal': 84, 'Bhubaneshwar': 85, 'Chandigarh': 86, 'Chennai': 87, 'Coimbatore': 88, 'Dehradun': 89, 'Faridabad': 90, 'Ghaziabad': 91, 'Goa': 92, 'Gurgaon': 93, 'Guwahati': 94, 'Hyderabad': 95, 'Indore': 96, 'Jaipur': 97, 'Kanpur': 98, 'Kochi': 99, 'Kolkata': 100, 'Lucknow': 101, 'Ludhiana': 102, 'Mangalore': 103, 'Mohali': 104, 'Mumbai': 105, 'Mysore': 106, 'Nagpur': 107, 'Nashik': 108, 'New Delhi': 109, 'Noida': 110, 'Panchkula': 111, 'Patna': 112, 'Puducherry': 113, 'Pune': 114, 'Ranchi': 115, 'Secunderabad': 116, 'Surat': 117, 'Vadodara': 118, 'Varanasi': 119, 'Vizag': 120, 'Bandung': 121, 'Bogor': 122, 'Jakarta': 123, 'Tangerang': 124, 'Auckland': 125, 'Wellington City': 126, 'Birmingham': 127, 'Edinburgh': 128, 'London': 129, 'Manchester': 130, 'Doha': 131, 'Cape Town': 132, 'Inner City': 133, 'Johannesburg': 134, 'Pretoria': 135, 'Randburg': 136, 'Sandton': 137, 'Colombo': 138, 'Ankara': 139, 'stanbul': 140}
{'Botswana Pula(P)': 0, 'Brazilian Real(R$)': 1, 'Dollar($)': 2, 'Emirati Diram(AED)': 3, 'Indian Rupees(Rs.)': 4, 'Indonesian Rupiah(IDR)': 5, 'NewZealand($)': 6, 'Pounds()': 7, 'Qatari Rial(QR)': 8, 'Rand(R)': 9, 'Sri Lankan Rupee(LKR)': 10, 'Turkish Lira(TL)': 11}
{'Yes': 1, 'No': 0}
{'Yes': 1, 'No': 0}
{'Yes': 1, 'No': 0}
{'Dark Green': 0, 'Green': 1, 'Yellow': 2, 'Orange': 3, 'White': 4, 'Red': 5}
{'Excellent': 0, 'Very Good': 1, 'Good': 2, 'Average': 3, 'Not rated': 4, 'Poor': 5}

,Country Code,City,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Rating color,Rating text,...,Teriyaki,Tex-Mex,Thai,Tibetan,Turkish,Turkish Pizza,Vegetarian,Vietnamese,Western,World Cuisine
0,0,0,1100,0,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1200,0,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,4000,0,1,0,0,4,1,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1500,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1500,0,1,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,14,140,80,11,0,0,0,3,1,1,...,0,0,0,0,1,0,0,0,0,0
9547,14,140,105,11,0,0,0,3,1,1,...,0,0,0,0,0,0,0,0,0,1
9548,14,140,170,11,0,0,0,4,2,2,...,0,0,0,0,0,0,0,0,0,1
9549,14,140,120,11,0,0,0,4,1,1,...,0,0,0,0,0,0,0,0,0,0
9550,14,140,55,11,0,0,0,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
cuisine_encoded # merged at last

,Afghani,African,American,Andhra,Arabian,Argentine,Armenian,Asian,Asian Fusion,Assamese,...,Teriyaki,Tex-Mex,Thai,Tibetan,Turkish,Turkish Pizza,Vegetarian,Vietnamese,Western,World Cuisine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9548,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9549,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X

,Country Code,City,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Rating color,Rating text,...,Teriyaki,Tex-Mex,Thai,Tibetan,Turkish,Turkish Pizza,Vegetarian,Vietnamese,Western,World Cuisine
0,0,0,1100,0,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1200,0,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,4000,0,1,0,0,4,1,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1500,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1500,0,1,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,14,140,80,11,0,0,0,3,1,1,...,0,0,0,0,1,0,0,0,0,0
9547,14,140,105,11,0,0,0,3,1,1,...,0,0,0,0,0,0,0,0,0,1
9548,14,140,170,11,0,0,0,4,2,2,...,0,0,0,0,0,0,0,0,0,1
9549,14,140,120,11,0,0,0,4,1,1,...,0,0,0,0,0,0,0,0,0,0
9550,14,140,55,11,0,0,0,2,1,1,...,0,0,0,0,0,0,0,0,0,0