# **Level 1**
## **Task 1**
### **1.1.1 Explore the dataset and identify the number of rows and columns.**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv(r"Dataset .csv")
data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

### **Removing encoded text in the string to avoid confusions,randomness and saving in new dataset**

In [29]:
import pandas as pd
import unicodedata

# Load the dataset (UTF-8 should work fine)
df = pd.read_csv(r"Dataset .csv", encoding="utf-8-sig")

# Function to normalize and clean text
def clean_text(text):
    if isinstance(text, str):
        # Normalize Unicode text (fixes special characters)
        text = unicodedata.normalize("NFKC", text)
        # Remove unknown characters (like "�")
        text = text.replace("�", "")
        # Trim spaces
        text = text.strip()
    return text

# Apply cleaning to all text columns
df = df.map(clean_text)
#df.tail()
# Save the cleaned dataset without encoding changes
df.to_csv("cleaned_dataset.csv", index=False, encoding="utf-8")

In [5]:
data=pd.read_csv(r"cleaned_dataset.csv")
data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,stanbul,"Kemanke Karamustafa Paa Mahallesi, R۱ht۱m Cadd...",Karak_y,"Karak_y, stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz Aac۱,208,stanbul,"Kouyolu Mahallesi, Muhittin st_nda Caddesi, No...",Kouyolu,"Kouyolu, stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,stanbul,"Kuru_eme Mahallesi, Muallim Naci Caddesi, No 5...",Kuru_eme,"Kuru_eme, stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Ak Kahve,208,stanbul,"Kuru_eme Mahallesi, Muallim Naci Caddesi, No 6...",Kuru_eme,"Kuru_eme, stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,stanbul,"Cafeaa Mahallesi, Bademalt۱ Sokak, No 21/B, Ka...",Moda,"Moda, stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [7]:
data.shape  #(Rows,Columns)

(9551, 21)

- **No.of Columns:** 21
- **No.of Rows:** 9551

In [8]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

### **Dropping the ID,Unique columns**

In [9]:
data=data.drop('Restaurant ID',axis=1)
data.head()

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

### **1.1.2 Check for missing values in each column and handle them accordingly.**
**Checking no.of columns have null values**

In [10]:
data.isnull().sum()

Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

**Filling the Null values**
- filling missing values with **fillna()**
- Categorical columns (dtypes='object') is replaced with **mode** values of thier respective columns
- Numerical columns (dtypes!='object') is replaced with **median** values of thier respective columns

In [11]:
X=data
import warnings
warnings.filterwarnings('ignore')
for i in X:                  # X.columns
    if X[i].dtypes=='object':
        mode=X[i].mode()[0]
        X[i].fillna(mode,inplace=True)
    else:
        mean=round((X[i].mean()),3)
        X[i].fillna(mean,inplace=True)
data.isnull().sum()   #X.isnull().sum()

Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

**Unique values of each columns**

In [12]:
for i in data:
    unique=data[i].unique()
    print(f'{i}:{unique}')
    print()

Restaurant Name:['Le Petit Souffle' 'Izakaya Kikufuji' 'Heat - Edsa Shangri-La' ...
 'Huqqa' 'Ak Kahve' "Walter's Coffee Roastery"]

Country Code:[162  30 216  14  37 184 214   1  94 148 215 166 189 191 208]

City:['Makati City' 'Mandaluyong City' 'Pasay City' 'Pasig City' 'Quezon City'
 'San Juan City' 'Santa Rosa' 'Tagaytay City' 'Taguig City' 'Bras_lia'
 'Rio de Janeiro' 'So Paulo' 'Albany' 'Armidale' 'Athens' 'Augusta'
 'Balingup' 'Beechworth' 'Boise' 'Cedar Rapids/Iowa City' 'Chatham-Kent'
 'Clatskanie' 'Cochrane' 'Columbus' 'Consort' 'Dalton' 'Davenport'
 'Des Moines' 'Dicky Beach' 'Dubuque' 'East Ballina' 'Fernley' 'Flaxton'
 'Forrest' 'Gainesville' 'Hepburn Springs' 'Huskisson' 'Inverloch'
 'Lakes Entrance' 'Lakeview' 'Lincoln' 'Lorn' 'Macedon' 'Macon' 'Mayfield'
 'Mc Millan' 'Middleton Beach' 'Miller' 'Monroe' 'Montville'
 'Ojo Caliente' 'Orlando' 'Palm Cove' 'Paynesville' 'Penola' 'Pensacola'
 'Phillip Island' 'Pocatello' 'Potrero' 'Princeton' 'Rest of Hawaii'
 'Savannah' 'Singapore' 'Sioux City' 'Tampa Bay' 'Tanunda' 'Trentham East'
 'Valdosta' 'Vernonia' 'Victor Harbor' 'Vineland Station' 'Waterloo'
 'Weirton' 'Winchester Bay' 'Yorkton' 'Abu Dhabi' 'Dubai' 'Sharjah' 'Agra'
 'Ahmedabad' 'Allahabad' 'Amritsar' 'Aurangabad' 'Bangalore' 'Bhopal'
 'Bhubaneshwar' 'Chandigarh' 'Chennai' 'Coimbatore' 'Dehradun' 'Faridabad'
 'Ghaziabad' 'Goa' 'Gurgaon' 'Guwahati' 'Hyderabad' 'Indore' 'Jaipur'
 'Kanpur' 'Kochi' 'Kolkata' 'Lucknow' 'Ludhiana' 'Mangalore' 'Mohali'
 'Mumbai' 'Mysore' 'Nagpur' 'Nashik' 'New Delhi' 'Noida' 'Panchkula'
 'Patna' 'Puducherry' 'Pune' 'Ranchi' 'Secunderabad' 'Surat' 'Vadodara'
 'Varanasi' 'Vizag' 'Bandung' 'Bogor' 'Jakarta' 'Tangerang' 'Auckland'
 'Wellington City' 'Birmingham' 'Edinburgh' 'London' 'Manchester' 'Doha'
 'Cape Town' 'Inner City' 'Johannesburg' 'Pretoria' 'Randburg' 'Sandton'
 'Colombo' 'Ankara' 'stanbul']

Address:['Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City'
 'Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City'
 'Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City' ...
 'Kuru_eme Mahallesi, Muallim Naci Caddesi, No 56, Beikta, stanbul'
 'Kuru_eme Mahallesi, Muallim Naci Caddesi, No 64/B, Beikta, stanbul'
 'Cafeaa Mahallesi, Bademalt۱ Sokak, No 21/B, Kad۱k_y, stanbul']

Locality:['Century City Mall, Poblacion, Makati City'
 'Little Tokyo, Legaspi Village, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City' ... 'Kouyolu' 'Kuru_eme'
 'Moda']

Locality Verbose:['Century City Mall, Poblacion, Makati City, Makati City'
 'Little Tokyo, Legaspi Village, Makati City, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City' ...
 'Kouyolu, stanbul' 'Kuru_eme, stanbul' 'Moda, stanbul']

Longitude:[121.027535   121.014101   121.056831   ...  29.03464001  29.036019
  29.02601603]

Latitude:[14.565443   14.553708   14.581404   ... 41.05581715 41.057979
 40.98477563]

Cuisines:['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' ... 'Burger, Izgara'
 'World Cuisine, Patisserie, Cafe' 'Italian, World Cuisine']

Average Cost for two:[  1100   1200   4000   1500   1000   2000   6000    800    900    700
    850    600   3000   1800     55     30     45     60     50     80
     90    200    150    100    230    240    350    140    170    120
    250     40     70    300     85     75    400     65     25     10
      0     20     35      7    270    500    430    315    220     95
    190    260    180    330    280    160    285    130    110   2500
   3600    550   1400    450    950    650   1300   2400   1600   2200
    750   1700   1250   1900   2700   3500   5000   2300   1750   3200
   2100   1850   4500   3300   1350   1650   1950   1050    290   1450
   2800   3650   4800   1550    720   6500   7000   1150   2900   2600
   4700   3700   3800   4100   4300   2650   5100   5500   4400   4200
   8000   2350 150000  70000 250000 200000 165000 800000 500000 300000
 450000 120000 100000 350000    105     15    445    294    360    535
    125    320    570   1540    515    955    390    410   3210    545]

Currency:['Botswana Pula(P)' 'Brazilian Real(R$)' 'Dollar($)' 'Emirati Diram(AED)'
 'Indian Rupees(Rs.)' 'Indonesian Rupiah(IDR)' 'NewZealand($)' 'Pounds()'
 'Qatari Rial(QR)' 'Rand(R)' 'Sri Lankan Rupee(LKR)' 'Turkish Lira(TL)']

Has Table booking:['Yes' 'No']

Has Online delivery:['No' 'Yes']

Is delivering now:['No' 'Yes']

Switch to order menu:['No']

Price range:[3 4 2 1]

Aggregate rating:[4.8 4.5 4.4 4.9 4.  4.2 4.3 3.6 4.7 3.  3.8 3.7 3.2 3.1 0.  4.1 3.3 4.6
 3.9 3.4 3.5 2.2 2.9 2.4 2.6 2.8 2.1 2.7 2.5 1.8 2.  2.3 1.9]

Rating color:['Dark Green' 'Green' 'Yellow' 'Orange' 'White' 'Red']

Rating text:['Excellent' 'Very Good' 'Good' 'Average' 'Not rated' 'Poor']

Votes:[ 314  591  270 ...  788 1034  901]

### **1.1.3 Perform data type conversion if necessary.Analyze the distribution of the target variable("Aggregate rating") and identify any class imbalances.**
**Converting some column datatypes  to object**`

In [13]:
data['Country Code']=data['Country Code'].astype('object')
data['Price range']=data['Price range'].astype('object')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant Name       9551 non-null   object
 1   Country Code          9551 non-null   object
 2   City                  9551 non-null   object
 3   Address               9551 non-null   object
 4   Locality              9551 non-null   object
 5   Locality Verbose      9551 non-null   object
 6   Longitude             9551 non-null   float64
 7   Latitude              9551 non-null   float64
 8   Cuisines              9551 non-null   object
 9   Average Cost for two  9551 non-null   int64
 10  Currency              9551 non-null   object
 11  Has Table booking     9551 non-null   object
 12  Has Online delivery   9551 non-null   object
 13  Is delivering now     9551 non-null   object
 14  Switch to order menu  9551 non-null   object
 15  Price range           9551 non-null   object
 16  Aggregate rating      9551 non-null   float64
 17  Rating color          9551 non-null   object
 18  Rating text           9551 non-null   object
 19  Votes                 9551 non-null   int64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.5+ MB

## **Task 2: Descriptive Analysis**

### **Splitting into Categorical columns,Numerical columns respectively**

In [15]:
cat=data.select_dtypes(include='object').columns
num=data.select_dtypes(exclude='object').columns
cat,num

(Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
        'Locality Verbose', 'Cuisines', 'Currency', 'Has Table booking',
        'Has Online delivery', 'Is delivering now', 'Switch to order menu',
        'Price range', 'Rating color', 'Rating text'],
       dtype='object'),
 Index(['Longitude', 'Latitude', 'Average Cost for two', 'Aggregate rating',
        'Votes'],
       dtype='object'))

In [16]:
data[num].head()

    Longitude   Latitude  Average Cost for two  Aggregate rating  Votes
0  121.027535  14.565443                  1100               4.8    314
1  121.014101  14.553708                  1200               4.5    591
2  121.056831  14.581404                  4000               4.4    270
3  121.056475  14.585318                  1500               4.9    365
4  121.057508  14.584450                  1500               4.8    229

In [17]:
data[cat].head()

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Cuisines,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Rating color,Rating text
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...","French, Japanese, Desserts",Botswana Pula(P),Yes,No,No,No,3,Dark Green,Excellent
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",Japanese,Botswana Pula(P),Yes,No,No,No,3,Dark Green,Excellent
2,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...","Seafood, Asian, Filipino, Indian",Botswana Pula(P),Yes,No,No,No,4,Green,Very Good
3,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...","Japanese, Sushi",Botswana Pula(P),No,No,No,No,4,Dark Green,Excellent
4,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...","Japanese, Korean",Botswana Pula(P),Yes,No,No,No,4,Dark Green,Excellent

### **1.2.1 Calculate basic statistical measures (mean, median, standard deviation, etc.) for numerical columns.**

In [18]:
index=['mean','median','sd','mode']
d={}
for i in num:
    mean=data[i].mean()
    median=data[i].median()
    sd=data[i].std()
    mode=data[i].mode()[0]
    k=[mean,median,sd,mode]
    d[i]=k
print(d)
pd.DataFrame(d,index=index,columns=data[num].columns)

{'Longitude': [64.12657446168706, 77.1919642, 41.467057847617575, 0.0], 'Latitude': [25.854380700074756, 28.57046888, 11.007935124784685, 0.0], 'Average Cost for two': [1199.2107632708617, 400.0, 16121.18307349965, 500], 'Aggregate rating': [2.66637001361114, 3.2, 1.5163775396521686, 0.0], 'Votes': [156.909747670401, 31.0, 430.1691453762977, 0]}

,Longitude,Latitude,Average Cost for two,Aggregate rating,Votes
mean,64.126574,25.854381,1199.210763,2.666370,156.909748
median,77.191964,28.570469,400.000000,3.200000,31.000000
sd,41.467058,11.007935,16121.183073,1.516378,430.169145
mode,0.000000,0.000000,500.000000,0.000000,0.000000

### **1.2.2 Explore the distribution of categorical variables like "Country Code","City" and "Cuisines".**

**the distribution of categorical variables like "Country Code", "City","and","Cuisines"**

In [19]:
l=['Country Code','City','Cuisines']
for i in l:
    print(f"################## {i}_DataFrame #################")
    count=[]
    unique=data[i].unique()
    for j in unique:
        cond=data[i]==j
        count.append(len(data[cond]))
    df=pd.DataFrame(count,columns=['Count'],index=unique)
    df.index.name=i
    print(df)
    print()

################## Country Code_DataFrame #################
              Count
Country Code
162              22
30               60
216             434
14               24
37                4
184              20
214              60
1              8652
94               21
148              40
215              80
166              20
189              60
191              20
208              34

################## City_DataFrame #################
                  Count
City
Makati City           2
Mandaluyong City      4
Pasay City            3
Pasig City            3
Quezon City           1
...                 ...
Randburg              1
Sandton              11
Colombo              20
Ankara               20
stanbul              14

[141 rows x 1 columns]

################## Cuisines_DataFrame #################
                                  Count
Cuisines
French, Japanese, Desserts            1
Japanese                             17
Seafood, Asian, Filipino, Indian      1
Japanese, Sushi                      18
Japanese, Korean                      3
...                                 ...
Restaurant Cafe                       2
Desserts, B_rek                       1
Burger, Izgara                        1
World Cuisine, Patisserie, Cafe       1
Italian, World Cuisine                1

[1825 rows x 1 columns]

### **1.2.3 Identify the top "Cuisines" and "Cities" with the highest number of restaurants.**
### Top "Cities" with the highest number of restaurants.

In [21]:
#"cities" with the highest number of restaurants
k=eval(input("Enter the no.of top cities with highest number of restaurants(to be displayed):"))
count=[]
unique=list(data['City'].unique())
for i in unique:
    cond=data['City']==i
    count.append(len(data[cond]))
#d=zip(unique,count)
# for i in d:
#     print(i)
print(f"Displaying Top {k} Cities with highest number of restaurants.")
temp=count
for j in range(k):
    print(f'{unique[np.argmax(temp)]} is the city with {np.max(temp)} of resturants')
    unique.pop(np.argmax(temp))
    temp.pop(np.argmax(temp))

Enter the no.of top cities with highest number of restaurants(to be displayed): 5

Displaying Top 5 Cities with highest number of restaurants.
New Delhi is the city with 5473 of resturants
Gurgaon is the city with 1118 of resturants
Noida is the city with 1080 of resturants
Faridabad is the city with 251 of resturants
Ghaziabad is the city with 25 of resturants

### Top "Cuisines"  with the highest number of restaurants.

In [22]:
len(data['Cuisines'].unique())

1825

**first finding different cuisines**

In [23]:
k=data['Cuisines']
c=[]
for i in k:
    p=i.split(', ')
    c.extend(p)
c=set(c)
c,len(c)

({'Afghani',
  'African',
  'American',
  'Andhra',
  'Arabian',
  'Argentine',
  'Armenian',
  'Asian',
  'Asian Fusion',
  'Assamese',
  'Australian',
  'Awadhi',
  'BBQ',
  'B_rek',
  'Bakery',
  'Bar Food',
  'Belgian',
  'Bengali',
  'Beverages',
  'Bihari',
  'Biryani',
  'Brazilian',
  'Breakfast',
  'British',
  'Bubble Tea',
  'Burger',
  'Burmese',
  'Cafe',
  'Cajun',
  'Canadian',
  'Cantonese',
  'Caribbean',
  'Charcoal Grill',
  'Chettinad',
  'Chinese',
  'Coffee and Tea',
  'Contemporary',
  'Continental',
  'Cuban',
  'Cuisine Varies',
  'Curry',
  'D_ner',
  'Deli',
  'Desserts',
  'Dim Sum',
  'Diner',
  'Drinks Only',
  'Durban',
  'European',
  'Fast Food',
  'Filipino',
  'Finger Food',
  'Fish and Chips',
  'French',
  'Fusion',
  'German',
  'Goan',
  'Gourmet Fast Food',
  'Greek',
  'Grill',
  'Gujarati',
  'Hawaiian',
  'Healthy Food',
  'Hyderabadi',
  'Ice Cream',
  'Indian',
  'Indonesian',
  'International',
  'Iranian',
  'Irish',
  'Italian',
  'Izgara',
  'Japanese',
  'Juices',
  'Kashmiri',
  'Kebab',
  'Kerala',
  'Kiwi',
  'Korean',
  'Latin American',
  'Lebanese',
  'Lucknowi',
  'Maharashtrian',
  'Malay',
  'Malaysian',
  'Malwani',
  'Mangalorean',
  'Mediterranean',
  'Mexican',
  'Middle Eastern',
  'Mineira',
  'Mithai',
  'Modern Australian',
  'Modern Indian',
  'Moroccan',
  'Mughlai',
  'Naga',
  'Nepalese',
  'New American',
  'North Eastern',
  'North Indian',
  'Oriya',
  'Pakistani',
  'Parsi',
  'Patisserie',
  'Peranakan',
  'Persian',
  'Peruvian',
  'Pizza',
  'Portuguese',
  'Pub Food',
  'Rajasthani',
  'Ramen',
  'Raw Meats',
  'Restaurant Cafe',
  'Salad',
  'Sandwich',
  'Scottish',
  'Seafood',
  'Singaporean',
  'Soul Food',
  'South African',
  'South American',
  'South Indian',
  'Southern',
  'Southwestern',
  'Spanish',
  'Sri Lankan',
  'Steak',
  'Street Food',
  'Sunda',
  'Sushi',
  'Taiwanese',
  'Tapas',
  'Tea',
  'Teriyaki',
  'Tex-Mex',
  'Thai',
  'Tibetan',
  'Turkish',
  'Turkish Pizza',
  'Vegetarian',
  'Vietnamese',
  'Western',
  'World Cuisine'},
 145)

In [24]:
print(f"Total {len(c)} different no.of Cuisines Available")

Total 145 different no.of Cuisines Available

In [25]:
c=list(c)
k=data['Cuisines']
p={c[i]:0 for i in range(len(c))} ##{Cuisines: no.of resturents serve that Cuisines }
for i in k:
    for j in c:
        if j in i:
            p[j]+=1
p

{'Cafe': 707,
 'Modern Indian': 16,
 'African': 14,
 'Armenian': 3,
 'Oriya': 2,
 'BBQ': 33,
 'Ramen': 2,
 'Diner': 6,
 'Kashmiri': 20,
 'Argentine': 2,
 'Brazilian': 28,
 'Canadian': 1,
 'Sushi': 75,
 'European': 148,
 'Afghani': 14,
 'Mineira': 1,
 'Kebab': 10,
 'Hawaiian': 8,
 'Moroccan': 5,
 'Naga': 8,
 'Grill': 25,
 'Filipino': 10,
 'Juices': 29,
 'Pakistani': 12,
 'Soul Food': 1,
 'Vegetarian': 23,
 'Raw Meats': 114,
 'Bakery': 744,
 'Mangalorean': 4,
 'Peruvian': 1,
 'Gujarati': 11,
 'Malay': 23,
 'Italian': 764,
 'Indian': 4268,
 'Southwestern': 7,
 'Curry': 6,
 'Fusion': 5,
 'Mithai': 380,
 'New American': 2,
 'Tibetan': 44,
 'Persian': 2,
 'Belgian': 2,
 'Kiwi': 6,
 'Lebanese': 69,
 'North Indian': 3969,
 'Spanish': 16,
 'Parsi': 8,
 'D_ner': 1,
 'Thai': 234,
 'South American': 2,
 'French': 29,
 'Fast Food': 1987,
 'Irish': 1,
 'Japanese': 135,
 'Portuguese': 7,
 'Burger': 251,
 'Peranakan': 1,
 'Bihari': 6,
 'Southern': 24,
 'Scottish': 3,
 'Gourmet Fast Food': 1,
 'Drinks Only': 2,
 'Izgara': 2,
 'Charcoal Grill': 4,
 'Finger Food': 114,
 'Bubble Tea': 1,
 'Korean': 21,
 'Taiwanese': 2,
 'South African': 6,
 'Maharashtrian': 10,
 'Cuban': 2,
 'Kerala': 23,
 'Chettinad': 11,
 'Malwani': 1,
 'Contemporary': 9,
 'Pizza': 389,
 'Dim Sum': 3,
 'Vietnamese': 21,
 'Arabian': 28,
 'Sandwich': 53,
 'Cantonese': 2,
 'Sri Lankan': 5,
 'Asian': 234,
 'Hyderabadi': 26,
 'Goan': 20,
 'Bengali': 29,
 'Modern Australian': 11,
 'Restaurant Cafe': 4,
 'Beverages': 228,
 'Tea': 67,
 'Iranian': 3,
 'Indonesian': 14,
 'Steak': 62,
 'Asian Fusion': 2,
 'Street Food': 562,
 'Pub Food': 2,
 'B_rek': 1,
 'Teriyaki': 2,
 'Mughlai': 994,
 'Biryani': 177,
 'Deli': 3,
 'Cajun': 10,
 'Burmese': 10,
 'Fish and Chips': 1,
 'Awadhi': 11,
 'Sunda': 3,
 'Greek': 15,
 'Nepalese': 9,
 'American': 405,
 'North Eastern': 9,
 'Chinese': 2733,
 'Seafood': 174,
 'Tex-Mex': 19,
 'Salad': 93,
 'Rajasthani': 21,
 'Andhra': 10,
 'Caribbean': 7,
 'Australian': 15,
 'Lucknowi': 13,
 'South Indian': 636,
 'Patisserie': 4,
 'Assamese': 4,
 'Ice Cream': 226,
 'Malaysian': 22,
 'German': 10,
 'Mediterranean': 112,
 'Tapas': 19,
 'Breakfast': 41,
 'Middle Eastern': 22,
 'Turkish Pizza': 8,
 'Bar Food': 39,
 'Mexican': 181,
 'Coffee and Tea': 19,
 'World Cuisine': 4,
 'Latin American': 11,
 'Durban': 1,
 'International': 21,
 'Cuisine Varies': 1,
 'Singaporean': 4,
 'Continental': 736,
 'British': 16,
 'Healthy Food': 150,
 'Turkish': 23,
 'Desserts': 653,
 'Western': 10}

In [26]:
k=eval(input("Enter the no.of top cities with highest number of restaurants(to be displayed):"))
keys=list(p.keys())
values=list(p.values())
print(f"Displaying Top {k} Cuisines served in highest number of restaurants.")
for i in range(k):
    print(f'{keys[np.argmax(values)]} is a served in {np.max(values)} restaurants')
    keys.pop(np.argmax(values))
    values.pop(np.argmax(values))

Enter the no.of top cities with highest number of restaurants(to be displayed): 5

Displaying Top 5 Cuisines served in highest number of restaurants.
Indian is a served in 4268 restaurants
North Indian is a served in 3969 restaurants
Chinese is a served in 2733 restaurants
Fast Food is a served in 1987 restaurants
Mughlai is a served in 994 restaurants

In [32]:
print('################# Cuisine DataFrame ####################')
Cuisine_df=pd.DataFrame(p.values(),columns=['no.of restaurants serve that Cuisine'],index=p.keys())
Cuisine_df.index.name='Cuisines'
Cuisine_df

################# Cuisine DataFrame ####################

               no.of restaurants serve that Cuisine
Cuisines
Cafe                                            707
Modern Indian                                    16
African                                          14
Armenian                                          3
Oriya                                             2
...                                             ...
British                                          16
Healthy Food                                    150
Turkish                                          23
Desserts                                        653
Western                                          10

[145 rows x 1 columns]